<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="generalSettings" type="Koala.ViewModels.Configuration.Client.GeneralSettings, Koala" allowLocation="false" allowDefinition="Everywhere" />
    <section name="contactSettings" type="Koala.ViewModels.Configuration.Client.ContactSettings, Koala" allowLocation="false" allowDefinition="Everywhere" />
    <section name="databaseSettings" type="Koala.ViewModels.Configuration.Client.DatabaseSettings, Koala" allowLocation="false" allowDefinition="Everywhere" />
    <section name="audioSettings" type="Koala.ViewModels.Configuration.Client.AudioSettings, Koala" allowLocation="false" allowDefinition="Everywhere" />
  </configSections>

  <contactSettings company="Shansina Digital Printing" 
                   address="Jl. Otista Raya No.50, Kota Tgr Sel., Banten 15411, Indonesia"
                   phone="+62 21 7499968"
                   email="lorem@ipsum.com"
                   />
  
  <generalSettings culture="id-ID" 
                   signature="koala" 
                   desktopNotifications="false" 
                   sounds="true" showTrayIcon="false" 
                   showTaskbarIcon="true" launchWhenSystemStarts="false" 
                   launchMinimized="false" />

  <databaseSettings connectionStringFormat="Data Source={0};Initial Catalog={1};User Id={2};Password={3};Integrated Security=False;MultipleActiveResultSets=True"
      server="." name="DigitPrint" userName="sa" password="sa123" providerName="System.Data.SqlClient" />

  <audioSettings error="" warning="" />
 
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>

</configuration>
